.body{
  background-color: #202225;
  color: white;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  width: 100%;
  text-align: center;
}
.logo{
  width: 50%;
  margin-left: 50px;
}
.header_background{
  background-color: #202225;
}
.header_list{
  background-color:#eb8cd8;
  border-radius: 25px;
  color: white;
}
.header_link:hover{
  background-color: #68c5fe;
  border-radius: 25px;
}
.body__main{
  display: inline-block;
  background-color: #36393f;
  width: 70%;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 100px;
}
.body__main__container{
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin: 3%;
}
.body__main__image{
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 250px;
}
.body__main__searchCard{
  top: -60px;
  height: 226px;
}
.color_boton{
  background-color: #eb8cd8;
}
.color_boton:hover{
  background-color: #68c5fe;
}
.body__main__article{
  text-align: left;
}
.body__footer{
  background-color: #68c5fe;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  margin: 0px 0px 0px 0px;
}
.body__footer__text{
  width: 55%;
  text-align: justify;
  margin: 25px 20px 0px 25px;
  overflow: hidden;
  position: absolute;
  left: 5%;
}
.body__footer__socials{
  width: auto;
  height: 45px;
  margin: 0px 2% 0px 1%;
  position: relative;
  left: 40%;
  top: 30px;
  transition: width 2s, height 2s, transform 1s;
}
.body__footer__socials:hover{
    transform : scale(1.3);
}
.button_style{
  background-color: #eb8cd8;
}
/* En la entrega anterior utilicé grid para acomodar todas estas fotitos de los personajes en la página de guías (guides.html), ahora utilizo bootstrap*/
.character_card{
  width: 100px;
  height: 100px;
  background-color: #68c5fe;
  border-radius: 50%;
  margin-left: 0px;
  margin-bottom: 80px;
  text-align: center;
}
.character_card:hover{
  background-color:#eb8cd8;
}
.character_picture{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}